body {
    background-image: url(MENTALSPONGE.PNG);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 100px;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 80px;
}